$font-stack : 'Roboto', sans-serif;

a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: $font-stack;
    .firstSection{
        background: #66768a;
        padding: 0 35px;
        
        // nav bar
        nav{
            height: 70px;
            display: flex;
            justify-content: space-between;
            ul{
                padding: 0;
                display: flex;
                width: 33%;
                align-items: center;
                gap: 15px;
                
            }
            .logo{
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .donate{
                width: 33%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
        // main section
        main{
            padding: 90px 130px 1px 130px;
            text-align: center;
            color: white;
            h1{
                font-size: 4em;
            }
            .par{
                font-size: 2em;
            }
            .smallPar{
                margin: 65px 0;
                font-size: 1.64em;
            }
            span{
                display: inline-block;
                margin: 50px 0;
                color: black;
                
            }
        }
    }
    // second Section
    .secondSection{
        padding: 90px 35px;
        text-align: center;
        h2{
                font-size: 2em;
        }
        p{
            padding: 0 400px;
            font-size: 1.6em;
        }
        
    }

    // thirdSection
    .thirdSection{
        background: #dbdfe2;
        padding: 90px 35px;
        display: flex;
        // left Section
        .left{
            padding-left: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            div{
                width: 60%;
                height: 15vw;
                background: #66768a;
            }
            a{
                
                border: 1px solid black;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 130px;

            }
        }
        // right Section
        .right{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 100px;
            text-align: center;
            div{
                width: 60%;
                height: 15vw;
                background: #66768a;
            }
            a{
                
                border: 1px solid black;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 130px;

            }
        }
    }
    .fourthSection{
        text-align: center;
        padding: 0 35px;
    }
}